.Techbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
    padding: 10px;
    gap: 20px;
}

.Techbar { 
    background-color : #001115;
    border-radius: 20px;

}

body {
    margin : 0% 10%;
}

.Techbar ul li a {
    color: #fdd718;
    font-weight: bold;
    text-decoration: none;
    display: flex;
}

.Techbar ul li a i {
    display: flex;
    font-size: 20px;
    margin-left: 10px;
}

body {
    background-image: url('https://www.shutterstock.com/image-illustration/yellow-laptop-3d-illustration-render-600nw-1146799241.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.main {
    width: 60%;
    float: left;
}
.aside {
    width: 30%;
    float: right;
}
.main section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.aside aside {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px 30px;
}
footer {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 50px ;
    float : left;
    text-align: center;
    width: 50%;
    margin: 10px;
}

